section {}

/* HEADERS */
#phoneheader {
    width: 100%;
    height: auto;
    display: block;
}

#tabletheader {
    width: 100%;
    height: auto;
    display: none;
}

#desktopheader {
    width: 100%;
    height: auto;
    display: none;
}

/* TEXT */
.Subtitle {
    font-family: Quattrocento;

}

.WhiteTitle {
    font-family: Quicksand;

}

.GreenTitle {
    font-family: Quicksand;

}

p {
    font-family: Calibri;

}

.GridBox {
    padding: 2em
}

/* PHONE */
#Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
        "Monthly"
        "Monthly"
        "Green"
        "Green"
        "Green"
        "Climate"
        "Climate"
        "Newsletter"
        "Newsletter"
        "Contact"
        "Contact"
        "Contact";
    min-width: 550px;
    max-width: 550px;
    margin: auto;
}

#MonthlyTip {
    grid-area: Monthly;
    background: white;
    background-image: url(img/phone_maanedenstip.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#MonthlyTip1 {
    font-family: Quicksand;
}

#Kalkfjerner {
    font-family: Quicksand;
    font-size: 1.3em;
}

#MonthlySub {
    font-size: 1.1em;
    font-style: italic;
}

#GreenBalance {
    grid-area: Green;
    background: rgb(70, 225, 86);
    background-image: url(img/phone_groenbalance.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#GreenBal {
    font-family: Quicksand;
    color: white;
    padding-left: 7.3em;
}

#GreenBalText {
    padding-left: 11em;
    padding-right: 2em;
    padding-top: 1.5em;
}

#Climate {
    grid-area: Climate;
    background: ffffff;
    background-image: url(img/phone_miljoe.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#ClimateSub {
    
    font-family: Quicksand;
    text-align: center;
}

#ClimateText {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
}

#Newsletter {
    grid-area: Newsletter;
    background: rgb(221, 255, 226);
    background-image: url(img/phone_nyhedsbrev.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#NewsletterTitle {
    padding-left: 4.5em;
    color: green;
    font-family: Quicksand;
}

#Nlp {
    padding-left: 0;
    text-align: center
}

#Contact {
    grid-area: Contact;
    background: rgb(35, 240, 110);
    background-image: url(img/phone_kontakt.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}

.WhiteTitle {
    color:white;
    padding-left: 4.em;
    font-size: 2em;
}

#ContactSub {
    font-weight: bold;
    font-size: 1em;
    font-style: italic; 
    padding-left: 5em;
}

#kontaktinfo {
    padding-left: 9em;
}

/* TABLET */
@media screen and (min-width: 1000px) {
    #phoneheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #tabletheader {
        width: 100%;
        height: auto;
        display: block;
    }

    #desktopheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #Grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr 0.5fr 0.25fr;
        grid-template-areas: 
            "Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly" 
            
            "Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly" 
            
            "Green Green Green Green Green Green Climate Climate Climate" 
            
            "Green Green Green Green Green Green Climate Climate Climate" 
            
            "Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter" 
            
            "Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter" 
            
            "Contact Contact Contact Contact Contact Contact Contact Contact Contact "
            
            "Contact Contact Contact Contact Contact Contact Contact Contact Contact ";
        
        min-width: 800px;
        margin: auto;
    }
    /* BAGGRUNDSBILLEDER TABLET */
    #MonthlyTip {
        /*background-image: url(img/tablet_maanedenstip.png);*/
        background-image: url(img/tablet2_maanedenstip.png);
    }

    #GreenBalance {
        /*background-image: url(img/tablet_groenbalance.png);*/
        background-image: url(img/tablet2_groenbalance.png);
    }

    #Climate {
        /*background-image: url(img/tablet_miljoe.png);*/
        background-image: url(img/tablet2_miljoe.png);
    }

    #Newsletter {
        /*background-image: url(img/tablet_nyhedsbrev.png);*/
        background-image: url(img/tablet2_nyhedsbrev.png);
    }

    #Contact {
        /*background-image: url(img/tablet_kontakt.png);*/
        background-image: url(img/tablet2_kontakt.png);
    }

}


/* DESKTOP */
@media screen and (min-width: 1300px) {
    #phoneheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #tabletheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #desktopheader {
        width: 100%;
        height: auto;
        display: block;
    }

    #Grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly"
            
            "Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly"
            
            "Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly Monthly"
            
            "Green Green Green Green Green Green Green Green Green Climate Climate Climate Climate Climate Climate Climate"
                        
            "Green Green Green Green Green Green Green Green Green Climate Climate Climate Climate Climate Climate Climate"
            
            "Green Green Green Green Green Green Green Green Green Climate Climate Climate Climate Climate Climate Climate"
            
            "Green Green Green Green Green Green Green Green Green Contact Contact Contact Contact Contact Contact Contact"
            
            "Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Contact Contact Contact Contact Contact Contact Contact"
            
            "Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Contact Contact Contact Contact Contact Contact Contact"
            
            "Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Contact Contact Contact Contact Contact Contact Contact"
            
            "Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Newsletter Contact Contact Contact Contact Contact Contact Contact"

    }
    
    /* BAGGRUNDSBILLEDER DESKTOP */
    #MonthlyTip {
        background-image: url(img/desktop_maanedenstip.png);
    }

    #GreenBalance {
        background-image: url(img/desktop_groenbalance.png);
    }

    #Climate {
        background-image: url(img/desktop_miljoe.png);
    }

    #Newsletter {
        background-image: url(img/desktop_nyhedsbrev.png);
    }

    #Contact {
        background-image: url(img/desktop_kontakt.png);
    }

}
