section {}
/* HEADERS */
#phoneheader {
    width: 100%;
    height: auto;
    display: block;
}

#tabletheader {
    width: 100%;
    height: auto;
    display: none;
}

#desktopheader {
    width: 100%;
    height: auto;
    display: none;
}
/* TITLES */
.Subtitle {
    font-family: Quattrocento;

}

.WhiteTitle {
    font-family: Quicksand;

}

.GreenTitle {
    font-family: Quicksand;

}

p {
    font-family: Calibri;

}

.GridBox {
    padding: 1em
}

/* PHONE */

#Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Monthly" "Green" "Climate" "Newsletter" "Contact";
}

#MonthlyTip {
    grid-area: Monthly;
    background: white;
    /*background-image: url(img/phone_maanedenstip.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
}

#GreenBalance {
    grid-area: Green;
    background: rgb(70, 225, 86);
    /*background-image: url(img/phone_groenbalance.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
}

#Climate {
    grid-area: Climate;
    background: rgb(219, 240, 205);
    /*background-image: url(img/phone_miljoe.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
}

#Newsletter {
    grid-area: Newsletter;
    background: rgb(221, 255, 226);
    /*background-image: url(img/phone_nyhedsbrev.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
}

#Contact {
    grid-area: Contact;
    background: rgb(97, 255, 94);
    /*background-image: url(img/phone_kontakt.png);
    background-repeat: no-repeat;
    background-size: 100%;*/
}


/* TABLET */
@media screen and (min-width: 500px) {
    #phoneheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #tabletheader {
        width: 100%;
        height: auto;
        display: block;
    }

    #desktopheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #Grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas: "Monthly Monthly Monthly" "Green Green Climate" "Newsletter Newsletter Newsletter" "Contact Contact Contact";
        margin: 1em;
    }
/* BAGGRUNDSBILLEDER TABLET */
/*
    #MonthlyTip {
        background-image: url(img/tablet_maanedenstip.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    #GreenBalance {
        background-image: url(img/tablet_groenbalance.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    #Climate {
        background-image: url(img/tablet_miljoe.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    #Newsletter {
        background-image: url(img/tablet_nyhedsbrev.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    #Contact {
        background-image: url(img/tablet_kontakt.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
*/
}


/* DESKTOP */
@media screen and (min-width: 1300px) {
    #phoneheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #tabletheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #desktopheader {
        width: 100%;
        height: auto;
        display: block;
    }

    #Grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "Monthly Monthly Monthly" "Green Green Climate" "Green Green Contact" "Newsletter Newsletter Contact";
        width: 800px;
        margin: auto;
    }
/* BAGGRUNDSBILLEDER DESKTOP */

    #MonthlyTip {
        background-image: url(img/desktop_maanedenstip.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #GreenBalance {
        background-image: url(img/desktop_groenbalance.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #Climate {
        background-image: url(img/desktop_miljoe.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #Newsletter {
        background-image: url(img/desktop_nyhedsbrev.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #Contact {
        background-image: url(img/desktop_kontakt.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

}
