section {
    
}

#headerimg {
    width: 100%;
    height: auto;
    display: block;
}

.Subtitle {
    font-family: Quattrocento;
}

.WhiteTitle {
    font-family: Quicksand;
}

.GreenTitle {
    font-family: Quicksand;
}

p {
    font-family: Calibri;
}

#Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "Monthly"
        "Green"
        "Climate"
        "Newsletter"
        "Contact";
}

#MonthlyTip {
    grid-area: Monthly;
    background: green;
}

#GreenBalance {
    grid-area: Green;
    background: blue;
}

#Climate {
    grid-area: Climate;
    background: red;
}

#Newsletter {
    grid-area: Newsletter;
    background: pink;
}

#Contact {
    grid-area: Contact;
    background: yellow;
}

