section {}

#phoneheader {
    width: 100%;
    height: auto;
    display: block;
}

#tabletheader {
    width: 100%;
    height: auto;
    display: none;
}

#desktopheader {
    width: 100%;
    height: auto;
    display: none;
}

.Subtitle {
    font-family: Quattrocento;

}

.WhiteTitle {
    font-family: Quicksand;

}

.GreenTitle {
    font-family: Quicksand;

}

p {
    font-family: Calibri;

}

#Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "Monthly"
        "Green"
        "Climate"
        "Newsletter"
        "Contact";
}

#MonthlyTip {
    grid-area: Monthly;
    background: green;
}

#GreenBalance {
    grid-area: Green;
    background: blue;
}

#Climate {
    grid-area: Climate;
    background: red;
}

#Newsletter {
    grid-area: Newsletter;
    background: pink;
}

#Contact {
    grid-area: Contact;
    background: yellow;
}

@media screen and (min-width: 500px) {
    #phoneheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #tabletheader {
        width: 100%;
        height: auto;
        display: block;
    }

    #desktopheader {
        width: 100%;
        height: auto;
        display: none;
    }

}



@media screen and (min-width: 1300px) {
    #phoneheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #tabletheader {
        width: 100%;
        height: auto;
        display: none;
    }

    #desktopheader {
        width: 100%;
        height: auto;
        display: block;
    }

}
